{% extends "base.html" %}

{% load translations %}

{% block content %}

<div class="container mt-4">
    <div class="row">

        <!-- LEFT -->
        <div class="col-md-8">
            <div class="card shadow-lg border-0 p-4">

                <h2 class="mb-3 trip-title">
                    {% if request.LANGUAGE_CODE == "pl" %}
                        {{ trip.title_pl|default:trip.title_en }}
                    {% else %}
                        {{ trip.title_en|default:trip.title_pl }}
                    {% endif %}
                </h2>

                <!-- LARGE PHOTO -->
                {% with trip.images.all|dictsortreversed:"is_main"|first as main_img %}
                    {% if main_img %}
                        <a href="{{ main_img.image.url }}" data-lightbox="trip-gallery">
                            <img src="{{ main_img.image.url }}"
                                 style="width:100%; height:400px; object-fit:cover; border-radius:10px;">
                        </a>
                    {% endif %}
                {% endwith %}

                <!-- MINIATURES -->
                <div class="d-flex gap-2 mt-2 mb-3 flex-wrap">
                    {% for img in trip.images.all %}
                        {% if not img.is_main %}
                            <a href="{{ img.image.url }}" data-lightbox="trip-gallery">
                                <img src="{{ img.image.url }}"
                                     style="width:90px; height:70px; object-fit:cover; border-radius:6px;">
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                <hr class="my-1 divider">

                <p class="mt-1 trip-description">
                    {% if request.LANGUAGE_CODE == "pl" %}
                        {{ trip.description_pl|default:trip.description_en|linebreaks }}
                    {% else %}
                        {{ trip.description_en|default:trip.description_pl|linebreaks }}
                    {% endif %}
                </p>

                <h4 class="mt-4">{% t "Dodaj opinię" "Add Review" %}</h4>

                {% if request.user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <label>{% t "Imię" "Name" %}</label>
                                {{ form.name }}
                                <div class="text-danger small">{{ form.name.errors }}</div>
                            </div>

                            <div class="col-md-6 mb-2">
                                <label>{% t "Ocena" "Rating" %}</label>
                                {{ form.rating }}
                                <div class="text-danger small">{{ form.rating.errors }}</div>
                            </div>
                        </div>

                        <div class="mb-2">
                            <label>{% t "Komentarz" "Comment" %}</label>
                            {{ form.comment }}
                            <div class="text-danger small">{{ form.comment.errors }}</div>
                        </div>

                        <button class="btn btn-primary">{% t "Prześlij recenzję" "Submit Review" %}</button>
                    </form>
                {% else %}
                    <p class="text-muted">
                        {% t "Zaloguj się, aby dodać opinię " "Log in to add a review" %}
                    </p>
                {% endif %}

                <hr class="my-3">

                <h4 class="mt-4">{% t "Opinie" "Reviews" %}</h4>

                {% for review in trip.reviews.all|dictsortreversed:"created_at" %}
                    <div class="border p-2 mb-2 rounded">
                        <strong>{{ review.name }}</strong> — {{ review.rating }} ⭐
                        <p class="mb-0">{{ review.comment }}</p>
                    </div>
                {% empty %}
                    <p>{% t "Brak opinii" "No reviews yet" %}</p>
                {% endfor %}

            </div>
        </div>

        <!-- RIGHT -->
        <div class="col-md-4">
            <div class="card p-3 shadow-sm position-sticky" style="top: 20px;">
                <form method="get">
                    <p class="trip-location mb-2">
                        <strong>{{ trip.country }}, {{ trip.location }}</strong>
                        <a class="badge bg-light text-primary border" href="https://www.google.com/maps?q={{ trip.location }}" target="_blank">
                            {% t  "Zobacz na mapie" "View on map" %}
                        </a>
                    </p>

                    <h5 class="text-price mt-4">
                        {% if request.LANGUAGE_CODE == "pl" %}
                            {{ total_price_pln|floatformat:0 }} zł
                        {% else %}
                            {{ total_price_eur|floatformat:0 }} €
                        {% endif %}
                        <span class="text-muted small">
                            ({% t "cena całkowita" "total price" %})
                        </span>
                    </h5>

                    <div class="mt-4">
                        <label class="form-label">{% t "Liczba osób" "Number of people" %}</label>
                        <div class="d-flex gap-2">
                            <input type="number" name="adults"
                                   value="{{ adults }}"
                                   min="1"
                                   max="{{ max_allowed }}"
                                   class="form-control">
                            <input type="number" name="children"
                                   value="{{ children }}"
                                   min="0"
                                   max="{{ max_allowed }}"
                                   class="form-control">
                        </div>
                        <button class="btn btn-outline-primary w-100 mt-3">
                            {% t "Przelicz cenę" "Recalculate price" %}
                        </button>

                        {% if limit_exceeded %}
                            <p class="text-muted small mt-2">
                                {% t "Rezerwacje online dostępne są dla maksymalnie 8 osób." "Online bookings are available for up to 8 people." %}
                                <br>
                                {% t "Dla większych grup prosimy o" "For larger groups, please" %}
                                <a href="{% url 'contact' %}">
                                    {% t "kontakt z nami." "contact us." %}
                                </a>
                            </p>
                        {% endif %}

                    </div>
                </form>

                <div class="mt-3">

                    <p class="mb-2">
                        <span class="text-muted">
                            {% t "Daty:" "Dates:" %}
                        </span>

                        <strong>{{ trip.start_date|date:"d.m.Y" }} → {{ trip.end_date|date:"d.m.Y" }}</strong>
                    </p>

                    <p class="mb-3">
                        <span class="text-muted">
                            <span class="text-muted">
                                {% t "Liczba osób:" "Max guests:" %}
                            </span>
                        </span>
                        <strong>{{ trip.max_people }}</strong>
                    </p>

                </div>

                {% if trip.available %}
                    <form method="post" class="mt-3">
                        {% csrf_token %}

                        <input type="hidden" name="adults" value="{{ adults }}">
                        <input type="hidden" name="children" value="{{ children }}">

                        <button name="booking" value="1" class="btn btn-primary w-100 btn-book">
                            {% t "Zarezerwuj" "Book now" %}
                        </button>
                    </form>
                {% else %}
                    <span class="text-danger">{% t "Niedostępne" "Not available" %}</span>
                {% endif %}

            </div>
        </div>

    </div>
</div>

<div class="text-center mt-5 mb-5">
    <a href="{% url 'index' %}" class="btn btn-outline-secondary">
        {% t "Powrót" "Back" %}
    </a>
</div>

{% endblock %}