{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2 class="mb-4 text-center">All trips</h2>
        <div class="row">
            {% for trip in trips %}
            <div class="col-md-4">
                <a href="{% url 'detail' trip.id %}" style="text-decoration: none; color: inherit;">
                    <div class="card mb-3 border-0 trip-card">


                            {% with trip.images.first as img %}
                                {% if img %}
                                    <img src="{{ img.image.url }}" class="card-img-top" style="height:220px; object-fit:cover;">
                                {% else %}
                                    <img src="https://via.placeholder.com/400x250" class="card-img-top">
                                {% endif %}
                            {% endwith %}

                        <div class="card-body trip-tile">

                            <h3 class="mb-2">{{ trip.title }}</h3>
                            <p class="text-muted mb-4">{{ trip.location }}</p>

                            <h4 class="mt-3 fw-bold text-price">
                                {{ trip.price }} {{ trip.get_currency_symbol }}
                            </h4>

                            <p class="text-muted small mb-2">
                                {{ trip.start_date|date:"d.m.Y" }} → {{ trip.end_date|date:"d.m.Y" }}
                            </p>

                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
            <div class="col-12 text-center">
                <p>No trips available</p>
            </div>
            {% endfor %}
        </div>
</div>

<div class="text-center mt-5 mb-5">
    <a href="{% url 'home' %}" class="btn btn-outline-secondary"> Back Home </a>
</div>
{% endblock %}