{% extends "base.html" %}

{% block content %}

<div class="container">

    <h2 class="mb-4 text-center">All trips</h2>

    <div class="row">
        {% for trip in trips %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm border-0">
                    <div class="card-body">
                        <h5>
                            <a href="/trips/{{ trip.id }}/">
                               {{ trip.title }}
                            </a>
                        </h5>
                        <p>{{ trip.location }}</p>
                        <p><strong>{{ trip.price }} {{trip.get_currency_symbol }} </strong></p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No trips available</p>
        {% endfor %}
    </div>

</div>

{% endblock %}

