.trip-card {
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    overflow: hidden;
    position: relative;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.trip-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 45px rgba(0,0,0,0.2);
}

.trip-title {
    text-align: center;
}

.text-price {
    color: #2a5d9f;   /* ciemny niebieski */
}

.btn-book {
    padding: 12px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.btn-book:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.position-sticky {
    top: 20px;
}

.trip-description {
    line-height: 1.6;
    font-size: 15px;
}

.divider {
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, #2a5d9f, transparent);
    margin: 25px 0;
    opacity: 0.4;
}

.trip-location {
    font-size: 18px;
    color: #6c757d;
}

.trip-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 3em;
    text-align: left;
}

.form-check-label {
    cursor: pointer;
}

.stars {
    font-size: 1.6rem;
    color: #2a5d9f;
    line-height: 1;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-top: 5px;        /* 🔥 usuwa przesunięcie */
    margin-right: 8px;    /* odstęp od gwiazdek */
}

input.form-control.custom-search {
    border: 2px solid #ddd;
    border-radius: 50px;
}

input.form-control.custom-search:focus {
    outline: none !important;
    border: 2px solid #0d6efd !important;
    box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.25) !important;
}

.form-control.custom-input,
.form-control.custom-input:focus {
    background-color: #edf6ff !important;
    border: 2px solid #84a3d6 !important;
    box-shadow: none !important;
}