{% extends "base.html" %}

{% block content %}

<div class="container">

    <h2 class="mb-4 text-center">Upcoming trips</h2>

    <div class="row">
        {% for trip in trips %}
            <div class="col-md-4">
                <a href="{% url 'detail' trip.id %}" style="text_decoration: none; color: inherit;">
                    <div class="card mb-4 shadow-sm border-0">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div>
                                <h5>{{ trip.title }}</h5>
                                <p class="text-muted">{{ trip.location }}</p>
                                <p><strong>{{ trip.price }} {{ trip.get_currency_symbol }}</strong></p>
                                <p class="small">
                                    {{ trip.start_date }} → {{ trip.end_date }}
                                </p>
                            </div>

                            {% if trip.tripimage_set.first %}
                                <img src="{{ trip.tripimage_set.first.image.url }}"
                                     style="width:175px; height:250px; object-fit:cover;">
                            {% endif %}

                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'index' %}" class="btn btn-primary btn-lg">
            See all trips
        </a>
    </div>

</div>

{% endblock %}

